.cards {
  max-width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  padding: 1rem;
  border: 1px solid var(--gray-200);
  background-color: var(--white-100);
  margin-bottom: 1rem;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.cards .cards-group {
  display: flex;
  gap: 1rem;
}

.cards .cards-group p {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.cards-details {
  display: flex;
  gap: 0.25rem;
}

.cards-details div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards-button {
  display: flex;
  gap: 1rem;
  align-items: center;
}