.cards {
  max-width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  padding: 1rem;
  border: 1px solid var(--gray-200);
  background-color: var(--white-100);
  margin-bottom: 1rem;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.cards .cards-group {
  display: flex;
  gap: 1rem;
}

.cards .cards-group p {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.cards-details {
  display: flex;
  gap: 0.25rem;
}

.cards-details div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards-button {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.parameters {
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.parameters ul {
  padding: 0;
}

.parameters ul .list{
  text-decoration: none;
  width: 80px;
  height: 12px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #616161;
  flex: none;
  list-style: none;
}


.sub{
  width: 262px;
  height: 12px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #616161;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 5vh;
}

